.jumbo_card_container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // * @ max width 950 row rev ( React incline styles via jumbo json )
  @include max_custom_breakpoint(950px) {
    .jumbo_card_text {
      padding: 0;
      text-align: center;
    }
    flex-direction: column !important;
  }

  .jumbo_card_animation_container {
    min-height: 100px;
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }

  .jumbo_card_title {
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .jumbo_card_subtitle {
    margin: 1rem auto;
    font-weight: 400;
  }
}

$jumbo-padding-text: (0 3rem 0 0, 0 0 0 3rem, 0 3rem 0 0, 0 0 0 3rem);
@for $i from 1 to 5 {
  .padding_placement_#{$i} {
    padding: nth($jumbo-padding-text, $i);
  }
}
