.list {
  width: 100%;
  overflow: hidden;

  .list_title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 0 4%;
  }

  .wrapper {
    position: relative;
    margin: 10px 0 60px 0;

    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgba(22, 22, 22, 0.5);
      color: #fff;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .container {
      margin: 0 4%;
      display: flex;
      gap: 5px;
      width: max-content;
      transform: translate(0px);
      transition: all 1s ease;
    }
  }
}
