a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

h2,
h3,
h4,
h5 {
  margin: 0.75em 0 0.25em;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-white;
}

ul {
  list-style: none;
}
