.home_page_container {
  width: 100%;

  .home_page_cards {
    margin: 0 auto;

    .home_page_card:nth-of-type(6) {
      padding: 50px 0 50px 0;

      @include for_tablet_portrait_up {
        padding: 70px 45px;
      }
    }

    .home_page_card {
      position: relative;
      padding: 50px 5%;
      border-bottom: 8px solid #222;
      margin-bottom: 0;

      @include for_tablet_portrait_up {
        padding: 70px 45px;
      }
    }

    // * Breakpoints ( Hero, cta_form, Jumbo, Footer )

    // * Hero
    .hero_card_title {
      font-size: 1.75rem;
    }

    .hero_card_subtitle {
      font-size: 1.125rem;
    }

    // * cta_form
    .cta_form_title {
      padding: 0 5%;
      max-width: 450px;
      font-size: 18px;
      margin: 0 auto;
    }

    //  * Header

    // * Jumbotron
    .jumbo_card_title {
      font-size: 1.625rem;
    }
    .jumbo_card_subtitle {
      font-size: 1.125rem;
    }

    .jumbo_card_img_container {
      width: 100%;
      max-width: 600px;
    }

    .jumbo_card_text {
      width: 100%;
    }

    // * 400px -
    @include for_phone_only {
    }

    // * 550px +
    @include for_tablet_portrait_up {
      .hero_card_title {
        font-size: 3.125rem;
      }
      .hero_card_subtitle {
        font-size: 1.625rem;
      }
      .jumbo_card_title,
      .faq_card_title {
        font-size: 2.5rem;
      }
      .jumbo_card_subtitle {
        font-size: 1.25rem;
      }
    }

    // * 750px +
    @include for_tablet_portrait_mid_up {
    }

    // * 950px +
    @include for_tablet_landscape_up {
      .cta_form_title {
        max-width: none;
        padding-bottom: 20px;
        font-size: 1.2rem;
        padding: 0;
      }

      .jumbo_card_title,
      .faq_card_title {
        font-size: 3.125rem;
      }
      .jumbo_card_subtitle {
        font-size: 1.625rem;
      }

      .jumbo_card_img_container {
        width: 48%;
        height: 100%;
      }
      .jumbo_card_text {
        width: 52%;
        height: 100%;
      }

      .home_header_wrapper {
        height: 45px;
      }

      .cta_form_lockup {
        flex-direction: row;
      }
    }

    // * 1449px +
    @include for_desktop_up {
    }

    // * 1450px +
    @include for_big_desktop {
      .hero_card_title {
        font-size: 4rem;
      }
    }
  }
}
