.footer_card {
  border-bottom: 0 !important;
  color: #757575;
  max-width: 1000px;
  margin: 0 auto;

  .footer_wrapper {
    .footer_top {
      margin: 0 0 30px;
    }
    .footer_country {
      font-size: 13px;
      margin-top: 24px;
    }

    .footer_row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      @include for_tablet_portrait_mid_up {
        width: 85%;
      }

      .col {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include for_phone_only {
          width: 40%;
        }

        @include for_tablet_portrait_up {
          width: 30%;
        }

        @include for_tablet_portrait_mid_up {
          width: 0%;
        }
      }
      a {
        white-space: nowrap;
        color: #757575;
        margin-bottom: 16px;
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
