.favorites_wrapper {
  padding-top: 90px;
  margin: 0 auto;
  margin-bottom: 100px;

  .favorites_title {
    padding: 0 3%;
    margin-bottom: 20px;
  }

  .favorites_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10% 5px;
    padding: 0 3%;

    @include for_tablet_portrait_up {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include for_tablet_portrait_mid_up {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include min_custom_breakpoint(1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    @include for_desktop_up {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .img_container {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
