.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);

  &.scrolled {
    transition: 0.3s ease-in;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
  }

  .mobile_responsive_up {
    display: none;
    @include for_tablet_landscape_up {
      display: block;
    }
  }

  .container {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left_navbar {
      display: flex;
      align-items: center;

      .monitor_links {
        display: none;
        @include for_tablet_landscape_up {
          display: block;
        }
      }

      img {
        height: 25px;
        margin-right: 40px;
      }

      span {
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          font-weight: 700;
          color: $color-white;
          color: #e5e5e5;
        }
      }

      .browse_links {
        -webkit-tap-highlight-color: transparent;
        @include for_tablet_landscape_up {
          display: none;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          cursor: pointer;
        }

        .media_options {
          display: none;
        }

        &:hover {
          .media_options {
            display: flex;
            flex-direction: column;
            position: fixed;
            text-align: left;
            top: 75px;
            left: 40px;
            width: 200px;
            border-top: solid 2px #fff;
            background-color: rgba(0, 0, 0, 0.9);

            span {
              padding: 10px 20px;
              height: 55px;
              border: solid 1px rgba(255, 255, 255, 0.15);
              margin: 0;
            }
          }
        }
      }
    }

    .right_navbar {
      display: flex;
      align-items: center;

      .search_icon {
        @include for_phone_only {
          display: none;
        }
      }

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        display: flex;
        align-items: center;
        height: 100px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        .options {
          display: none;
        }

        .options span:last-of-type {
          border-top: solid 1px rgba(255, 255, 255, 0.15);
          padding: 20px;
        }
        .options span:first-of-type {
          border-bottom: solid 1px rgba(255, 255, 255, 0.15);
          padding: 20px;
          justify-content: space-around;
          cursor: default;
          &:hover {
            text-decoration: none;
          }

          img {
            cursor: default;
          }
        }

        .options span:nth-of-type(2),
        span:nth-of-type(3) {
          .icon {
            margin: 0 5px 0 0;
            font-size: 16px;
          }
        }

        span {
          padding: 15px 20px;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon {
            margin-right: 20px;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: fixed;
            text-align: left;
            top: 75px;
            border-top: solid 2px #fff;
            right: 1%;
            background-color: rgba(0, 0, 0, 0.9);
            border: solid 1px rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
  }
}
