.faq_wrapper {
  text-align: center;

  .faq_card_title {
    margin: 0 0 1em;
    line-height: 1.1;
    font-size: 1.625rem;
  }

  .faq_list {
    max-width: 815px;
    margin: 1.25em auto;

    @include for_tablet_portrait_up {
      width: 90%;
      margin: 1.5em auto;
    }

    @include for_tablet_landscape_up {
      width: 75%;
      margin: 2em auto;
    }

    .faq_list_item {
      margin: 0 0 8px 0;
    }

    .faq_question {
      font-size: 1.125rem;
      padding: 0.8em 2.2em 0.8em 1.2em;
      margin-bottom: 1px;
      cursor: pointer;
      font-weight: 400;
      position: relative;
      width: 100%;
      border: 0;
      text-align: left;
      background: $accordion-backdrop;
      color: inherit;

      @include for_tablet_landscape_up {
        font-size: 1.625rem;
      }
    }
    .faq_question_icon {
      position: absolute;
      right: 1em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 1em;
      width: 1em;
    }

    .active_faq {
      transform: translateY(-50%) rotate(-45deg);
    }

    .faq_body_content {
      display: block;
      text-align: left;

      .faq_body {
        white-space: pre-line;
        background-color: $accordion-backdrop;
        display: inline-block;
        padding: 1.2em;
        text-align: left;
        font-size: 1.125rem;
        font-weight: 400;

        @include for_tablet_landscape_up {
          font-size: 1.625rem;
        }
      }
    }

    .faq_close {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      -o-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      -moz-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    }

    .faq_open {
      max-height: 1200px;
      webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      -o-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      -moz-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    }
  }
}
