.cta_form {
  z-index: 999;
  max-width: 700px;
  padding-top: 0.8rem;
  margin: 0 auto;
  width: 95%;

  .cta_form_title {
    font-weight: 400;
  }

  .cta_form_lockup {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
  }

  label {
    width: 100%;
  }

  input {
    padding: 20px 10px;
    height: 48px;
    border: 0;
    width: 100%;
    margin: 10px auto;
    border: solid 1px #8c8c8c;

    @include for_tablet_portrait_mid_up {
      margin: 15px auto;
      height: 60px;
    }

    @include for_tablet_landscape_up {
      min-width: 430px;
      border-right: 1px solid #333;
    }
  }
  input::placeholder {
    color: $place_label;
    font-size: 14px;

    @include for_tablet_portrait_mid_up {
      font-size: 16px;
    }
  }
}

.cta_submit_btn_container {
  button {
    @include auth_btn;
    display: flex;
    align-items: center;
    font-size: 1rem;
    min-height: 40px;
    letter-spacing: 0.1px;
    margin: 0.25em auto;
    padding: 0 1em;
    line-height: initial;
    width: auto;

    @include for_tablet_landscape_up {
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topleft: 0;
      border-top-left-radius: 0;
      border-left: 1px solid #333;
      font-size: 1.625rem;
      min-height: 60px;
      padding: 0 1em;

      &:hover {
        background-color: #ff0915;
      }
    }

    .chevron-right-arrow {
      padding-top: 0.3rem;
    }
    .cta-btn-txt {
      white-space: nowrap;
    }
  }
}
